<a href="https://colab.research.google.com/github/JisuJisuJisuJisu/ICT002_Python/blob/main/task5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
movie_list=[("오징어게임",50.45),("이터널스",35.46),("그레비티",9.8),("노타임투다이",52.5),("스파이더맨",15.47)]
#movie={}
#movie["오징어게임"]=50.45
#movie["이터널스"]=35.46
#movie["그레비티"]=9.8
#movie["노타임투다이"]=52.5
#movie["스파이더맨"]=15.47
#print(movie)

newMovie_list=sorted(movie_list, key=lambda x:x[1], reverse=True)
#print(newMovie_list)
print("영화제목      예매율     순위")
print("========    ======   ====")
for i,j in newMovie_list:
  print(i  ,"  ",j,"   ",newMovie_list.index(('노타임투다이', 52.5))+1)

영화제목      예매율     순위
========    ======   ====
노타임투다이    52.5     1
오징어게임    50.45     1
이터널스    35.46     1
스파이더맨    15.47     1
그레비티    9.8     1

In [68]:
movie_list=[("오징어게임",50.45),("이터널스",35.46),("그레비티",9.8),("노타임투다이",52.5),("스파이더맨",15.47)]
#movie={}
#movie["오징어게임"]=50.45
#movie["이터널스"]=35.46
#movie["그레비티"]=9.8
#movie["노타임투다이"]=52.5
#movie["스파이더맨"]=15.47
#print(movie)

newMovie_list=sorted(movie_list, key=lambda x:x[1], reverse=True)
#print(newMovie_list)
print("영화제목      예매율     순위")
print("========    ======   ====")
for i,j in newMovie_list:
  print(i  ,"  ",j)
  for n in newMovie_list:
    print(newMovie_list.index(n))

영화제목      예매율     순위
========    ======   ====
노타임투다이    52.5
0
1
2
3
4
오징어게임    50.45
0
1
2
3
4
이터널스    35.46
0
1
2
3
4
스파이더맨    15.47
0
1
2
3
4
그레비티    9.8
0
1
2
3
4